:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --acent-text-color: #2196F3;
    --secondary-acent-text-color: #ffffff;
    --secondary-background-color: #F5F4FA;
}


body {
  background-color: #ffffff;
  color:#757575;
  font-family: roboto, sans-serif;
}

/* logo */

.logo {color:#2196F3;
font-family: Raleway, sans-serif;
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: calc(31/26);}
span {color:#000000;}


/* site nav */

.list {list-style: none;}
.site-nav a {color: var(--title-text-color);
font-family: 'Roboto';
font-weight: 500;
font-size: 14px;
line-height: calc(16/14);}
.site-nav.list a:hover,
.site-nav.list a:focus {color: var(--acent-text-color);}
.contacts a {color:var(--primary-text-color)}

/* hero */
.hero-title {color: #ffffff;
            font-family: 'Roboto'
            font-weight: 900;
            font-size: 44px;
            line-height: calc(60/44);
            text-align: center;}
/* back color to see white letters */
.background {background-color: #2196F3;}
.primary.button {
    color: var(--secondary-acent-text-color);
    background-color: var(--acent-text-color);}

/* section */
.section-title {
    color: var(--title-text-color);
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    text-align: center;;
}



/* footer */
.contacts {color:var(--primary-text-color);}

/* button */

.button {color: var(--secondary-acent-text-color);
         background-color: var(--acent-text-color);
         border-color: var(--acent-text-color) ;
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 16px;
        line-height: calc(30/16);}

.primary.button {color: var(--secondary-acent-text-color);
                 background-color: var(--acent-text-color);
                border-color: var(--acent-text-color);}

.secondary.button {color: var(--title-text-color) ;
                   background-color: var(--secondary-background-color);
                   border-color: var(--secondary-background-color);}

/* portfolio */







/* цвет основного текста #757575
/* вторичный цвет текста #212121
/* цветлого черный #000000
/* цвет лого голубой #2196F3
/* белый цвет  #FFFFFF
/* бекграунд футер цвет черный #2F303A
/* бэкграунд для кнопок портфолио #F5F4FA
/* цвет фона страницы вторичный #F5F4FA */
/* цвет фона страницы основной #FFFFFF */
